<html>
    <head>
        <title>AceReads Films</title>
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <h1>All your Films</h1>
        <ul>
            {% for film in films %}
                <li>{{film.title}}, {{film.release_year}}</li>
            {% endfor %}
        </ul>
        <form method="POST" action="/films">
            <input type="text" name="title" placeholder="Title"><br>
            <input type="text" name="release_year" placeholder="Release Year"><br>
        <input type="submit" value="Submit">
        </form>
    </body>
</html>