<html>
    <head>
        <title>AceReads</title>
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <h1>Welcome to AceReads</h1>
        <p>
            My first paragraph
        </p>
        <p>
            My second paragraph
        </p>
        <img src="https://pbs.twimg.com/media/FiTaVOEWQAIMvGH.jpg" width="50%" height="50%"></img>
        <ul>
            <li>One</li>
            <li>Two</li>
            <li>Three</li>
            <li>Four</li>
        </ul>
    </body>
</html>